* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
    /*background: linear-gradient(#fff, #fff, #c3c1c1);
    background-repeat: no-repeat;*/
}

/*-----NAVIGATION STYLE-----*/
.navigation {
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 1%;
}

nav li a {
    text-decoration: none;
    color: #51443d;
    font-size: 1.1em;
    opacity: 0.6;
    transition: 0.3s;
}

nav li a:hover {
    opacity: 1;
}

.active {
    font-weight: bold;
    opacity: 1;
}

/*-----DROPDOWN NAVIGATION-----*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 1.1em;
    text-decoration: none;
    color: #51443d;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdownContent a {
    color: #51443d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #ebf5eb;
}

.dropdown:hover .dropdownContent {
    display: block;
}

/*-----FORSIDE STYLE-----*/
.bgImage {
    max-width: 100%;
    height: auto;
}

.homepageArticle{
    margin: 5%;
    text-align: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.homepageArticle h1 {
    color: #51443d;
    font-size: 5.5em;
    font-weight:350;
    margin: 0;
    padding: 0;
}

.homepageArticle p {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

article p {
    color: #51443d;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*-----HVAD ER TE? STYLE-----*/

.hvaderteArticle {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color: #51443d;
}

.hvaderteh1 {
    font-size: 2em;
    font-weight: 350;
    margin-bottom: 10px;
}

.herLink {
    text-decoration: none;
    font-weight: 800;
    color: #51443d;
}

/*-----TESORTER STYLE-----*/
body {
    color: #51443d;
}

.tesorterArticles {
    margin-left: 20%;
    margin-right: 20%;
}

.tesorterArticles h1 {
    font-weight: 350;
    font-size: 2.5em;
    padding-top: 5%;
}

#sortTeImg {
    width: 30%;
    float: left;
    margin-right: 10px;
}

#groenTeImg {
    width: 30%;
    float: right;
    margin-left: 10px;
}

#oolongTeImg {
    width: 30%;
    float: left;
    margin-right: 10px;
}

#urteTeImg {
    width: 30%;
    float: right;
    margin-left: 10px;
}


/*-----DIT FORMAAL STYLE-----*/
body {
    color: #51443d;
}

.formaalArticle {
    margin-left: 17%;
    margin-right: 17%;
}

.formaalArticle a {
    text-decoration: none;
    color: #51443d;
    font-weight: bold;
}

.formaalArticle ul {
    list-style-type: none;
}

